@model Eshop.ViewModels.FavouriteViewModel
@{ ViewBag.Title = "Home Page"; }


@{ string email = null;
    if (User.Identity.IsAuthenticated)
    {

        email = @Model.User.Email.ToString();
    } }



<section>
    <div class="categories-container">
        <div>
            @ViewBag.Message
            <ul>
                <li>
                    <a href="@Url.Action("Products", "Home")">All Products</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Home", new { categoryId = 2 })">Cpu</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Home", new { categoryId = 6 })">Hard Disks</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Home", new { categoryId = 1 })">Motherboards</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Home", new { categoryId = 5 })">Ram</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Home", new { categoryId = 3 })">Gpu</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Home", new { categoryId = 4 })">Psu</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Home", new { categoryId = 8 })">Monitors</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Home", new { categoryId = 9 })">Boxes</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="main-img-container">
        <div class="main-img-container-1">
            <div class="mySlides active">
                <img class="main-img" src="~/Images/AlienWare.png" />
            </div>
            <div class="mySlides">
                <img class="main-img" src="~/Images/Index/frontside5.jpeg" />
            </div>

            <div class="mySlides">
                <img class="main-img" src="~/Images/Index/front2.jpg" />
            </div>

            <i id="left" class="fas fa-angle-left left-arrow"></i>
            <i id="right" class="fas fa-angle-right right-arrow"></i>

        </div>
        <div class="main-img-container-4">
            <div class="main-img-container-2">
                <img class="main-img" src="~/Images/Index/frontside1.jpg" alt="" />


                <a href="@Url.Action("Products", "Home")" class="shop-now-btn"><span>Shop Now</span></a>
            </div>
            <div class="main-img-container-3">
                @*<img class="main-img" src="~/Images/Other/main5.jpg" alt="" />*@

                <img class="main-img" src="~/Images/Index/frontside2.jpg" alt="" />
            </div>
        </div>
    </div>

    <div class="hot-releases">
        <h4>Hot Releases</h4>
    </div>

    <div class="slide-container">
        <i id="slide-left" class="fas fa-angle-left slider-arrow-left"></i>
        <div class="container" id="slider">


            @foreach (var product in Model.Products)
            {
                <div class="product-container thumbnail">
                    <div class="product-category">

                        <h6>Electronics</h6>
                        <i data-product-id="@product.id" class="fa-regular fa-heart   @(ViewBag.Favourites.Contains(product.id) ? "blue-heart" : "grey-heart") favourite-button"></i>
                    </div>
                    <div class="hot-releases-img-container">
                        <a href="@Url.Action("ProductDetails/" + product.id)">
                            <img class="img @(product.stock == 0 ? "low-opacity" : "product-container-img")" src="@Url.Content("~/Images/" + product.image1)" width="200" alt="" />

                            @if (product.stock == 0)
                            {
                                <span class="out-of-stock">Out Of Stock</span>}
                        </a>
                    </div>
                    <div class="product-info-container">
                        <div class="product-rating">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <a href="@Url.Action("ProductDetails/" + product.id)">
                                    <h5>@product.Name</h5>
                                </a>
                                @if (product.stock == 0)
                                {

                                }
                                else
                                {
                                    <h6>Quantity: @product.stock</h6>}
                            </div>

                        </div>
                        <div class="svg-container ">
                            <h3>&#36 @product.price</h3>

                            @if (!ViewBag.addedCartProducts.Contains(product.id))
                            {
                                if (product.stock == 0)
                                {
                                    <?xml version="1.0" ?>















                                    <svg width="24px" height="24px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#ff4b4b" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM64 256c0-41.4 13.3-79.68 35.68-111.1l267.4 267.4C335.7 434.7 297.4 448 256 448C150.1 448 64 361.9 64 256zM412.3 367.1L144.9 99.68C176.3 77.3 214.6 64 256 64c105.9 0 192 86.13 192 192C448 297.4 434.7 335.7 412.3 367.1z" /></svg> }
                                else
                                {
                                    <div data-cart-id="@product.id" class="cart-div add-to-cart-btn">
                                        <input id="userId" type="hidden" value="@TempData["userId"]" />

                                        <span class="unlogged-user">Login To Continue</span>
                                        <svg data-cart-id="@product.id" class="arrow-svg" baseProfile="tiny" height="24px" version="1.2" viewBox="0 0 24 24"
                                             width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="Layer_1">
                                        <path data-cart-id="@product.id" d="M16.707,13.293c-0.391-0.391-1.023-0.391-1.414,0L13,15.586V8c0-0.552-0.447-1-1-1s-1,0.448-1,1v7.586l-2.293-2.293   c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L12,19.414l4.707-4.707C17.098,14.316,17.098,13.684,16.707,13.293z" />
                                </g>
                            </svg>
                                        <svg data-cart-id="@product.id" class="cart-svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 256 256">
                                            <defs>
                                            </defs>
                                            <rect class="cls-1" width="256" height="256" />
                                            <circle data-cart-id="@product.id" class="cls-2" cx="80" cy="216" r="18" />
                                            <circle data-cart-id="@product.id" class="cls-4" cx="184" cy="216" r="18" />
                                            <path data-cart-id="@product.id" class="cls-3"
                                                  d="M42.3,72H221.7l-26.4,92.4A15.91,15.91,0,0,1,179.9,176H84.1a15.91,15.91,0,0,1-15.4-11.6L32.5,37.8A8,8,0,0,0,24.8,32H8" />
                                        </svg>
                                    </div> }
                            }
                            else
                            {
                                <div>
                                    <svg width="50" height="50" id="Layer_1" style="enable-background:new 0 0 30 30;"
                                         version="1.1" viewBox="0 0 30 30" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill="#3e71fa"
                                          d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.707,12.707l-7.56,7.56  c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-3.453-3.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0  l2.746,2.746l6.853-6.853c0.391-0.391,1.023-0.391,1.414,0S22.098,12.316,21.707,12.707z" />
    </svg>
                                </div>}
                        </div>

                    </div>
                </div>}
        </div>
        <i id="slide-right" class="fas fa-angle-right slider-arrow-right"></i>
    </div>
</section>
@{ if (User.Identity.IsAuthenticated)
    {

        using (Entities en = new Entities())
        {
            var userEmail = User.Identity.Name;
            var user = en.Users.Single(u => u.Email == userEmail);


            if (User.IsInRole("Customer") /*&& user.orders.Count() != 0*/ ) //HERE TO COMMENT OUT TO MAKE THIS SERVICE FOR CUSTOMERS WITH ORDER
            {

                using (Html.BeginForm("AdminSupport", "Home", FormMethod.Post, new { id = "form1" }))
                {
                    @Html.Hidden("receiver", $"{user.Email}");
                }
                @Html.Hidden("receiver", $"{user.Email}"); @*<button id="submitBtn" @user.Email>Customer Support</button>*@


                <?xml version="1.0" encoding="iso-8859-1" ?>







                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg class="support-chat-icon" fill="#3e71fa" width="60px" id="submitBtn" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 508 508" style="enable-background:new 0 0 508 508;" xml:space="preserve">
<circle style="fill:#54C0EB;" cx="254" cy="254" r="254" />
<path style="fill:#FFFFFF;" d="M303.7,303.3c30.5-17.3,51-50.1,51-87.6c0-55.7-45.1-100.8-100.8-100.8S153.2,160,153.2,215.6
	c0,37.6,20.6,70.3,51,87.6C141,319.3,89.7,365,66,424.8c46.5,51.1,113.5,83.2,188,83.2s141.5-32.1,188-83.2
	C418.3,365,367,319.3,303.7,303.3z" />
<path style="fill:#324A5E;" d="M401.6,182.3h-15.8C370.9,123.4,317.5,79.6,254,79.6s-116.9,43.7-131.8,102.7h-15.8
	c-5.4,0-9.8,4.4-9.8,9.8V240c0,5.4,4.4,9.8,9.8,9.8h20c6.1,0,10.8-5.5,9.7-11.4c-2-10.4-2.7-21.3-1.8-32.5
	c4.8-59.3,53.6-106.9,113.1-110.1c69.2-3.8,126.8,51.5,126.8,119.9c0,7.8-0.8,15.3-2.2,22.7c-1.2,6,3.6,11.5,9.6,11.5h1.8
	c-4.2,13-14.9,37.2-38.3,50.2c-19.6,10.9-44.3,11.9-73.4,2.8c-1.5-6.7-8.9-14.6-16.5-18.3c-9.8-4.9-15.9-0.8-19.4,6.2
	s-3,14.3,6.7,19.2c8.6,4.3,21.6,5.2,27,0.5c13.9,4.3,26.9,6.5,39,6.5c15,0,28.5-3.3,40.4-10c27.5-15.3,38.8-43.7,42.8-57.2h9.9
	c5.4,0,9.8-4.4,9.8-9.8v-47.9C411.4,186.7,407,182.3,401.6,182.3z" />
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                @*<?xml version="1.0" ?>
                                        <svg class="support-chat-icon"  fill="#3e71fa" width="48px" id="submitBtn" version="1.1" viewBox="0 0 512 512"
                                             xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                        <circle cx="256" cy="254.062" r="24.375" />
                                        <circle cx="346.188" cy="254.062" r="24.375" />
                                        <circle cx="165.812" cy="254.062" r="24.375" />
                                        <path d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M412,351.562   c0,20.193-16.37,36.562-36.562,36.562H303.96c-4.075,0-7.88,2.036-10.141,5.427l-18.872,28.307   C270.724,428.195,263.614,432,256,432s-14.724-3.805-18.948-10.141l-18.872-28.307c-2.26-3.391-6.066-5.427-10.141-5.427h-71.477   c-20.193,0-36.562-16.37-36.562-36.562v-195C100,136.37,116.37,120,136.562,120h238.875C395.63,120,412,136.37,412,156.562V351.562   z" />
                        </g>
                    </svg>*@ }

        }
    } }




@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/cart_animation.js"></script>
    <script src="~/Scripts/LiveSearch.js"></script>
    <script src="~/Scripts/WishList.js"></script>
    <script src="~/Scripts/AddToCart.js"></script>
    <script>


        $(document).ready(function () {


            $("#submitBtn").click(function (event) {
                console.log("sad");
                event.preventDefault();
                  $.ajax({
                    type: "POST",
                    url: "@Url.Action("SendEmailToAdmin", "Home")",
                    data: "@email",
                     success: function () {
                    console.log("Done")
                         $("#form1").submit();
                }

                  });

            });
        });

             //$('body').on('submitDemo', function (e) {
            //    e.preventDefault();
            //        alert("Handler for .click() called.");

            //        $.post("~/Home/SendEmailToAdmin");
            //});


            @*$('body').addClass('#href').on('click', function () {
                //do some code here i.e

            });
                alert("ok");
            });*@


            @*const button = document.getElementById('submitbutton');
            $("#email_form").submit(function (event) {
                event.preventDefault();
                $.post('@Url.Action("SendEmailToAdmin", "Home",new { id = email })');

                document.signupform.submit();

            });*@
            //$("a[data-form-method='post']").click(function (event) {
            //    event.preventDefault();
            //    var element = $(this);
            //    var action = element.attr("href");
            //    element.closest("form").each(function () {

            //        form.attr("action", action);

            //        form.submit();
            //    });
            //});






    </script>
}
@*<script>

            $(document).ready(function () {
                $('.add-to-cart-btn').click(function (e) {
                    var cartbutton = $(e.target).attr("data-cart-id");
                    $.post(`/cart/addtocartproduct/${cartbutton}`).done(function (response) {
                        alert(response.status);
                    }).fail(function () {
                        alert('fail');
                    })
                })
                $('.add-to-cart-btn').click(function (e) {
                    document.getelementbyid("items-to-cart").innerhtml = parseint(document.getelementbyid("items-to-cart").innerhtml) + 1;
                    tempdata["productsincart"] = parseint(document.getelementbyid("items-to-cart").innerhtml);
                    //localstorage.setitem("itemstocart", foo);
                })
            })



        </script>
    }*@
