@model Eshop.ViewModels.ComparsionViewModel
<tr>
   
    
    <td class="lalign">Resolution</td>
    <td>@Model.product1.thisMonitor.Resolution</td>
    <td>@Model.product2.thisMonitor.Resolution</td>
    <td>@Model.product3.thisMonitor.Resolution</td>
    <td>@Model.product4.thisMonitor.Resolution</td>
</tr>
<tr>
    <td class="lalign">Refresh Rate</td>
    <td>@Model.product1.thisMonitor.RefreshRate</td>
    <td>@Model.product2.thisMonitor.RefreshRate</td>
    <td>@Model.product3.thisMonitor.RefreshRate</td>
    <td>@Model.product4.thisMonitor.RefreshRate</td>
</tr>
<tr>
    <td class="lalign"> Screen size</td>
    <td>@Model.product1.thisMonitor.ScreenSize</td>
    <td>@Model.product2.thisMonitor.ScreenSize</td>
    <td>@Model.product3.thisMonitor.ScreenSize</td>
    <td>@Model.product4.thisMonitor.ScreenSize</td>
</tr>
<tr>
    <td class="lalign">Aspect Ratio</td>
    <td>@Model.product1.thisMonitor.AspectRatio</td>
    <td>@Model.product2.thisMonitor.AspectRatio</td>
    <td>@Model.product3.thisMonitor.AspectRatio</td>
    <td>@Model.product4.thisMonitor.AspectRatio</td>
</tr>

