@model Eshop.ViewModels.ComparsionViewModel
<tr>
    <td class="lalign">MotherBoardSize</td>
    <td>@Model.product1.thisBox.MotherboardSize</td>
    <td>@Model.product2.thisBox.MotherboardSize</td>
    <td>@Model.product3.thisBox.MotherboardSize</td>
    <td>@Model.product4.thisBox.MotherboardSize</td>
</tr>
<tr>
    <td class="lalign">MotherBoardSize</td>
    <td>@Model.product1.thisBox.Color</td>
    <td>@Model.product2.thisBox.Color</td>
    <td>@Model.product3.thisBox.Color</td>
    <td>@Model.product4.thisBox.Color</td>
</tr>
