@model Eshop.ViewModels.ComparsionViewModel
<tr>


    <td class="lalign">Memory</td>
    <td>@Model.product1.thisRam.memory</td>
    <td>@Model.product2.thisRam.memory</td>
    <td>@Model.product3.thisRam.memory</td>
    <td>@Model.product4.thisRam.memory</td>
</tr>
<tr>
    <td class="lalign">Type</td>
    <td>@Model.product1.thisRam.type</td>
    <td>@Model.product2.thisRam.type</td>
    <td>@Model.product3.thisRam.type</td>
    <td>@Model.product4.thisRam.type</td>
</tr>
<tr>
    <td class="lalign"> Cash latency</td>
    <td>@Model.product1.thisRam.cash_latency</td>
    <td>@Model.product2.thisRam.cash_latency</td>
    <td>@Model.product3.thisRam.cash_latency</td>
    <td>@Model.product4.thisRam.cash_latency</td>
</tr>
<tr>
    <td class="lalign">Frequency</td>
    <td>@Model.product1.thisRam.frequency</td>
    <td>@Model.product2.thisRam.frequency</td>
    <td>@Model.product3.thisRam.frequency</td>
    <td>@Model.product4.thisRam.frequency</td>
</tr>
