@model Eshop.ViewModels.ComparsionViewModel
<tr>


    <td class="lalign">Watt</td>
    <td>@Model.product1.thisPsu.watt</td>
    <td>@Model.product2.thisPsu.watt</td>
    <td>@Model.product3.thisPsu.watt</td>
    <td>@Model.product4.thisPsu.watt</td>
</tr>
<tr>
    <td class="lalign">Connector</td>
    <td>@Model.product1.thisPsu.connector</td>
    <td>@Model.product2.thisPsu.connector</td>
    <td>@Model.product3.thisPsu.connector</td>
    <td>@Model.product4.thisPsu.connector</td>
</tr>
