@model Eshop.ViewModels.ProductViewModel

<tr>
    <td class="additional-info">Model</td>
    <td class="additional-info-1">@Model.Motherboard.model</td>
</tr>
<tr>
    <td class="additional-info">Chipset Vendor</td>
    <td class="additional-info-1">@Model.Motherboard.chipset_vendor</td>
</tr>
<tr>
    <td class="additional-info">Pcie Slots</td>
    <td class="additional-info-1">@Model.Motherboard.pcie_slots</td>
</tr>
<tr>
    <td class="additional-info">Ram Slots</td>
    <td class="additional-info-1">@Model.Motherboard.ram_slots</td>
</tr>
<tr>
    <td class="additional-info">Ram type</td>
    <td class="additional-info-1">@Model.Motherboard.ram_type</td>
</tr>
<tr>
    <td class="additional-info">Chipset</td>
    <td class="additional-info-1">@Model.Motherboard.chipset</td>
</tr>
<tr>
    <td class="additional-info">Socket</td>
    <td class="additional-info-1">@Model.Motherboard.socket</td>
</tr>
