@model  IEnumerable<favourite>
@{
    ViewBag.Title = "WishList";
}

<div class="wallpaper-container">
    <img src="~/Images/Icons/banner.jpg" alt="wallpaper">
    <div class="wallpaper-heading">
        <h1>Wishlist</h1>
        <h5>Home/Wishlist</h5>
    </div>
</div>
<div class="empty-space"></div>
<div class="wishlist-container">
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="fas fa-times remove-wishlist-button" data-product-id="@item.product.id"></i>
                </td>
                <td>
                    <img src="@Url.Content("~/Images/" + item.product.image1)" alt="">
                </td>
                <td>
                    <h5>@item.product.Name</h5>
                </td>
                <td>
                    <h4>@item.product.price &euro;</h4>
                </td>
                @if (item.product.stock > 0)
                {
                    <td>
                        <span>@item.product.stock In Stock</span>
                    </td>
                    <td>
                        <button data-cart-id="@item.product.id" class="add-to-cart-btn add-to-cart-wishlist ">Add To Cart</button>
                    </td>
                }
                else
                {
                    <td>
                        <span>Out of Stock</span>
                    </td>
                    <td>
                    </td>
                }
            </tr>

        }
        <tr>
            @if (Model.Count() == 0)
            {
                <td style="text-align:center;">
                    No products added to the wishlist
                </td>
            }
        </tr>
    </table>
</div>
<div class="empty-space"></div>


@section scripts{
    <script src="~/Scripts/Navbar Toggle.js"></script>
    <script src="~/Scripts/LiveSearch.js"></script>
    <script src="~/Scripts/WishList.js"></script>
    <script src="~/Scripts/AddToCart.js"></script>

}
