@model Eshop.ViewModels.ProductViewModel
<div class="form-group">
    @Html.LabelFor(model => model.Motherboard.model, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Motherboard.model, new { htmlAttributes = new { @class = "form-control" } })
        
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Motherboard.socket, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Motherboard.socket, new { htmlAttributes = new { @class = "form-control" } })
        
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Motherboard.chipset, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Motherboard.chipset, new { htmlAttributes = new { @class = "form-control" } })
        
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Motherboard.chipset_vendor, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Motherboard.chipset_vendor, new { htmlAttributes = new { @class = "form-control" } })
       
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Motherboard.pcie_slots, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Motherboard.pcie_slots, new { htmlAttributes = new { @class = "form-control" } })
       
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Motherboard.ram_type, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Motherboard.ram_type, new { htmlAttributes = new { @class = "form-control" } })
        
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Motherboard.ram_slots, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Motherboard.ram_slots, new { htmlAttributes = new { @class = "form-control" } })
        
    </div>
</div>

<div class="form-group">
    <ul>
        <li style="list-style:none;">@Html.ValidationMessageFor(model => model.Motherboard.model, "", new { @class = "text-danger" })</li>
        <li style="list-style: none;">@Html.ValidationMessageFor(model => model.Motherboard.socket, "", new { @class = "text-danger" })</li>
        <li style="list-style: none;">@Html.ValidationMessageFor(model => model.Motherboard.chipset, "", new { @class = "text-danger" })</li>
        <li style="list-style: none;"> @Html.ValidationMessageFor(model => model.Motherboard.pcie_slots, "", new { @class = "text-danger" })</li>
        <li style="list-style: none;">@Html.ValidationMessageFor(model => model.Motherboard.ram_type, "", new { @class = "text-danger" })</li>
        <li style="list-style: none;">@Html.ValidationMessageFor(model => model.Motherboard.ram_slots, "", new { @class = "text-danger" })</li>
        <li style="list-style: none;">@Html.ValidationMessageFor(model => model.Motherboard.chipset_vendor, "", new { @class = "text-danger" })</li>

    </ul>
</div>