@model Eshop.ViewModels.ComparsionViewModel
<tr>


    <td class="lalign">Type</td>
    <td>@Model.product1.thisHardDisc.type</td>
    <td>@Model.product2.thisHardDisc.type</td>
    <td>@Model.product3.thisHardDisc.type</td>
    <td>@Model.product4.thisHardDisc.type</td>
</tr>
<tr>
    <td class="lalign">Capacity</td>
    <td>@Model.product1.thisHardDisc.capacity</td>
    <td>@Model.product2.thisHardDisc.capacity</td>
    <td>@Model.product3.thisHardDisc.capacity</td>
    <td>@Model.product4.thisHardDisc.capacity</td>
</tr>
<tr>
    <td class="lalign"> Connector</td>
    <td>@Model.product1.thisHardDisc.connector</td>
    <td>@Model.product2.thisHardDisc.connector</td>
    <td>@Model.product3.thisHardDisc.connector</td>
    <td>@Model.product4.thisHardDisc.connector</td>
</tr>
<tr>
    <td class="lalign">Frequency</td>
    <td>@Model.product1.thisHardDisc.frequency</td>
    <td>@Model.product2.thisHardDisc.frequency</td>
    <td>@Model.product3.thisHardDisc.frequency</td>
    <td>@Model.product4.thisHardDisc.frequency</td>
</tr>

