@model Eshop.ViewModels.ComparsionViewModel
<tr>
    <td class="lalign">VRAM</td>
    <td>@Model.product1.thisGpu.vram</td>
    <td>@Model.product2.thisGpu.vram</td>
    <td>@Model.product3.thisGpu.vram</td>
    <td>@Model.product4.thisGpu.vram</td>
</tr>
<tr>
    <td class="lalign">Resolution</td>
    <td>@Model.product1.thisGpu.resolution</td>
    <td>@Model.product2.thisGpu.resolution</td>
    <td>@Model.product3.thisGpu.resolution</td>
    <td>@Model.product4.thisGpu.resolution</td>
</tr>
<tr>
    <td class="lalign">Chipser</td>
    <td>@Model.product1.thisGpu.chipset</td>
    <td>@Model.product2.thisGpu.chipset</td>
    <td>@Model.product3.thisGpu.chipset</td>
    <td>@Model.product4.thisGpu.chipset</td>
</tr>
<tr>
