@model Eshop.ViewModels.ComparsionViewModel
<tr>
    <td class="lalign">Model</td>
    <td>@Model.product1.thisMotherboard.model</td>
    <td>@Model.product2.thisMotherboard.model</td>
    <td>@Model.product3.thisMotherboard.model</td>
    <td>@Model.product4.thisMotherboard.model</td>
</tr>
<tr>
    <td class="lalign">Chipset Vendor</td>
    <td>@Model.product1.thisMotherboard.chipset_vendor</td>
    <td>@Model.product2.thisMotherboard.chipset_vendor</td>
    <td>@Model.product3.thisMotherboard.chipset_vendor</td>
    <td>@Model.product4.thisMotherboard.chipset_vendor</td>
</tr>
<tr>
    <td class="lalign">PCIE slots</td>
    <td>@Model.product1.thisMotherboard.pcie_slots</td>
    <td>@Model.product2.thisMotherboard.pcie_slots</td>
    <td>@Model.product3.thisMotherboard.pcie_slots</td>
    <td>@Model.product4.thisMotherboard.pcie_slots</td>
</tr>
<tr>
    <td class="lalign">Ram type</td>
    <td>@Model.product1.thisMotherboard.ram_type</td>
    <td>@Model.product2.thisMotherboard.ram_type</td>
    <td>@Model.product3.thisMotherboard.ram_type</td>
    <td>@Model.product4.thisMotherboard.ram_type</td>
</tr>
<tr>
    <td class="lalign">Socket</td>
    <td>@Model.product1.thisMotherboard.socket</td>
    <td>@Model.product2.thisMotherboard.socket</td>
    <td>@Model.product3.thisMotherboard.socket</td>
    <td>@Model.product4.thisMotherboard.socket</td>
</tr>