@model Eshop.ViewModels.ComparsionViewModel
<tr>
    <td class="lalign">Cores</td>
    <td>@Model.product1.thisCpu.cores</td>
    <td>@Model.product2.thisCpu.cores</td>
    <td>@Model.product3.thisCpu.cores</td>
    <td>@Model.product4.thisCpu.cores</td>
</tr>
<tr>
    <td class="lalign">Threads</td>
    <td>@Model.product1.thisCpu.threads</td>
    <td>@Model.product2.thisCpu.threads</td>
    <td>@Model.product3.thisCpu.threads</td>
    <td>@Model.product4.thisCpu.threads</td>
</tr>
<tr>
    <td class="lalign">Model</td>
    <td>@Model.product1.thisCpu.model</td>
    <td>@Model.product2.thisCpu.model</td>
    <td>@Model.product3.thisCpu.model</td>
    <td>@Model.product4.thisCpu.model</td>
</tr>
<tr>
    <td class="lalign">Frequency</td>
    <td>@Model.product1.thisCpu.frequency</td>
    <td>@Model.product2.thisCpu.frequency</td>
    <td>@Model.product3.thisCpu.frequency</td>
    <td>@Model.product4.thisCpu.frequency</td>
</tr>
<tr>
    <td class="lalign">Socket</td>
    <td>@Model.product1.thisCpu.socket</td>
    <td>@Model.product2.thisCpu.socket</td>
    <td>@Model.product3.thisCpu.socket</td>
    <td>@Model.product4.thisCpu.socket</td>
</tr>
<tr>
    <td class="lalign">Chipset</td>
    <td>@Model.product1.thisCpu.chipset</td>
    <td>@Model.product2.thisCpu.chipset</td>
    <td>@Model.product3.thisCpu.chipset</td>
    <td>@Model.product4.thisCpu.chipset</td>
</tr>
